* {
    margin: 0%;
    padding: 0;
}

body {
    background-color: beige;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* the font can be changed */
}

h1 {
    font-size: 60px;
}
header {
    padding:40px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

#schedule-options-containers {
    padding: 40px;
    background-color: beige;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 50px;
  }
  
#schedule-options-containers > div {
    border: 1px solid black;
    background-color: #d0e4f7;
    text-align: center;
    padding: 15px
  }

.two-buttons {
    display:flex;
    justify-content: center;
}
button {
font-size: 25px;
padding: 5px;
font-family: Georgia, 'Times New Roman', Times, serif;
/* border: 10px; */
}
.button-space {
    width: 10px;
}