* {
    margin: 0%;
}

body {
    background-color: beige;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:url(../images/home-bg2.png) no-repeat;
    background-size: 40% auto;
    background-position: right;
}


h1 {
    font-size: 60px;
}
header {
    padding:30px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

.main-list {
    margin:3% auto;
}

.section-list {
    margin-left: 5%;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}


form {
    border: 53px rgb(24, 11, 2);
}

#newrequest {
    margin-bottom: 10px;
}
.manual-entry {
    width: 50%;
    margin: 5px;
    padding: 5px;
    position:absolute;
    bottom:10%;
    left:25%;
    border: 5px solid rgb(231, 231, 204);
    border-radius: 20px;
    background-color: rgba(245, 245, 220, 0.924);

}

.man-entry {
    position: relative;
    width: 20%;
    left: 40%;
    /*I know this is super sloppy but I'll find a better method later.*/
}
table {
    /* border-spacing: 20px; */
    border-collapse: collapse;
}

th {
    background-color:#13293d;
    color: white;
}

th,td {
    width: 200px;
    text-align:center;
    border:1px solid black;
    padding:5px
}

td {
    background-color: antiquewhite;
}

li {
    display: inline;
    padding: 0px;
    text-decoration: none;
}

.button {
    display:flex;
    justify-content: center;
}

button {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    border-radius: 5rem;
    background:#214465;
    color:#fff;
    padding:.5rem 3.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


/* Css stuff added by Nnamdi */
/* .sorting-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 10px;

} */

fieldset {
    /* min-width: 48vh; */
    min-width: 450px;
    min-height: 70px;
    margin-left: 25%;
}

legend {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Search TA's text */
.search-boxes h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 25%;
}
/* 6 search boxes */
.search-boxes input {
    min-height: 20px;
    min-width: 450px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 15%;
    
}

.sortingLabels {
    background-color: #efefef;
    color: black;
    border: 1px solid gray;
    border-radius: .2rem;
    width: 30%;
    margin-left: 1%;
    padding: 1%;
    text-align: center;
}

/* Css stuff added by Nnamdi */
.sorting-options {
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-bottom: 10px;
    padding-left: 10px;
}

.sorting-buttons {
    width:40%;
    float:left;
    padding-right: 10px;

}
.search-boxes {
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-left: 10px;
    width: 40%;
    float: left;
    padding-right: 10px;

}


footer {
    width: 100%;
    bottom:20px;
    /* padding-left:2%; */
    padding-bottom: .3%;

    margin-top: 19px;
}

#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left-button {
    float: left;
    margin-left: 0%;
}
.right-button {
    float: right;
    margin-right: 1%;
}




/*  Schedule output box information */
.schedule-right {
    /* padding-left: 2%; */
    margin-left: 4%;
    

}

.enter-TA {
    min-height: 60px;
    max-width: 500px;
    border: 1px solid #888;
    padding: 5px;
    display: flex;
    flex-direction: row;
}


.each-TA {
    max-width: 200px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    margin-top: 3px;

}

textarea {
    /* background: transparent; */
    border: none;
    resize: none;
    color: #000000;
    border: 1px solid black;
    padding: 5px;
    min-width: 500px;
    /* max-width: 500px; */
    max-height: 25px;
    font-size: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }